@page
@model WebAppRazorClient.Pages.SwListModel
@{
    ViewData["Title"] = "Sandwich List";
}
<h1>Sandwich List</h1>

<a asp-page="/Create" class="btn btn-success mb-3">Create Sandwich</a>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sandwich in await Model.SwList)
        {
            <tr>
                <td>@sandwich.Name</td>
                <td>@($"{sandwich.Price:C}")</td>

                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@sandwich.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a asp-page="Edit" asp-route-id="@sandwich.Id" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>